body {
  padding-top: 50px;
}

th {
	text-align: center
}

.glyphicon-remove:hover{
	cursor: pointer;

}
.starter-template {
  padding: 20px 15px;
  text-align: center;
}

.green {
  color: green !important;
}

.red {
  color: red !important;
}

#view {
	margin: 20px 0;
	width: 100%;
	height: 100%;
}

.nav {
	margin-bottom: 20px;
}
